<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">Viber Messanger</div>
    <div class="panel-body">
      <div class="row">
          <div class="col-lg-3">
              <div class="contacts-list">
                  <div class="list-group">
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                   
                  </div>  
                </div>
          </div>
          <div class="col-lg-9">
            <div class="content">
                <div class="show-messages-area">
                    <textarea class="form-control" rows="40"></textarea>
                </div>
                <div class="wtite-message-area">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="buttons-area">
                    <button type="button" class="btn btn-success">
                      Send Message
                    </button>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>  
</div>