.container {
    margin: 10% 10%;
}

.list-group{
    max-height: 300px;
    height: 300px;
    overflow-y:scroll; 
    border: 1px solid navy;
    border-radius: 4px;
}

.panel-body.content {
    min-height: 100%;
    height: 100%;
}

textarea {
    resize: none;
    height: 123px;
}

.show-messages-area, .wtite-message-area, .buttons-area {
    margin-bottom: 1%;
} 

.buttons-area {
    float: right;
}